<div class="containerdiv">
    <div class="container-fluid">
        <form novalidate [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form-group form-row justify-content-center">
                <input formControlName="name" placeholder="username" required>
                <button type="submit" class="repobtn btn btn-primary" [disabled]="form.invalid">Submit</button>
            </div>
        </form>
    </div>
    <app-repository [project]="project" *ngFor="let project of projects"></app-repository>
</div>